In [1]:
myAge = 32
print(myAge)

32

In [2]:
myAge = 33
print(myAge)

33

In [3]:
print(myAge / 3)

11.0

In [4]:
myAge = myAge + 1
print(myAge)

34

In [5]:
# Challenge
restaurantBill = 36.17
serviceCharge = 0.125
print(restaurantBill * serviceCharge)

4.52125

In [6]:
type(33)

int

In [7]:
type(33.3)

float

In [8]:
type('Philip')

str

In [9]:
primeNumbers = [3 , 7, 61 ,29, 199]
type(primeNumbers)

list

In [10]:
coolPeople = [ 'Jay z', 'Ghandi', 'me']

In [11]:
coolPeople[2]

'me'

In [12]:
name = coolPeople[1]
print(name)

Ghandi

In [13]:
import pandas as pd
data = pd.read_csv('lsd_math_score_data.csv')

In [14]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [15]:
type(data)

pandas.core.frame.DataFrame

In [16]:
onlyMathScore= data['Avg_Math_Test_Score']

In [17]:
type(data['Avg_Math_Test_Score'])

pandas.core.series.Series

In [18]:
data['Test_Subject'] = 'Jennifer Lopez'

In [19]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

In [20]:
data['High_Score'] = 100

In [21]:
data

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,Test_Subject,High_Score
0,5,1.17,78.93,Jennifer Lopez,100
1,15,2.97,58.20,Jennifer Lopez,100
2,30,3.26,67.47,Jennifer Lopez,100
3,60,4.69,37.47,Jennifer Lopez,100
4,120,5.83,45.65,Jennifer Lopez,100
5,240,6.00,32.92,Jennifer Lopez,100
6,480,6.41,29.97,Jennifer Lopez,100

In [22]:
# Challenge
data['High_Score'] += 100
data

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,Test_Subject,High_Score
0,5,1.17,78.93,Jennifer Lopez,200
1,15,2.97,58.20,Jennifer Lopez,200
2,30,3.26,67.47,Jennifer Lopez,200
3,60,4.69,37.47,Jennifer Lopez,200
4,120,5.83,45.65,Jennifer Lopez,200
5,240,6.00,32.92,Jennifer Lopez,200
6,480,6.41,29.97,Jennifer Lopez,200

In [23]:
data['High_Score'] = data['High_Score'] ** 2 # power

In [24]:
data

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,Test_Subject,High_Score
0,5,1.17,78.93,Jennifer Lopez,40000
1,15,2.97,58.20,Jennifer Lopez,40000
2,30,3.26,67.47,Jennifer Lopez,40000
3,60,4.69,37.47,Jennifer Lopez,40000
4,120,5.83,45.65,Jennifer Lopez,40000
5,240,6.00,32.92,Jennifer Lopez,40000
6,480,6.41,29.97,Jennifer Lopez,40000

In [25]:
cleanData = data[['LSD_ppm', 'Avg_Math_Test_Score']]
print(cleanData)

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [26]:
type(cleanData)

pandas.core.frame.DataFrame

In [27]:
y = data[['Avg_Math_Test_Score']]
type(y)

pandas.core.frame.DataFrame

In [28]:
x = data[['LSD_ppm']]
print(x)
type(x)

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41

pandas.core.frame.DataFrame

In [29]:
del data['Test_Subject']
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_Score
0                      5     1.17                78.93       40000
1                     15     2.97                58.20       40000
2                     30     3.26                67.47       40000
3                     60     4.69                37.47       40000
4                    120     5.83                45.65       40000
5                    240     6.00                32.92       40000
6                    480     6.41                29.97       40000

In [30]:
del data['High_Score']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [31]:
import life

In [32]:
type(life)

module

In [33]:
life.theAnswer

42

In [34]:
import math

In [35]:
print(math.e)
print(math.pi)

2.718281828459045
3.141592653589793

In [36]:
from life import theAnswer
print(theAnswer)

42

In [37]:
theAnswer = 44
theAnswer

44

In [38]:
def get_milk() :
    print('Open door')
    print('Walk to the store')
    print('Buy milk')
    print('Return with milk')

In [39]:
get_milk()

Open door
Walk to the store
Buy milk
Return with milk

In [41]:
def fill_the_fridge(amount) :
    print('Open door')
    print('Walk to the store')
    print('Buy ' + amount + ' cartons on the ground floor')
    print('Return with milk')

In [42]:
fill_the_fridge('five')

Open door
Walk to the store
Buy five cartons on the ground floor
Return with milk

In [43]:
def milk_mission(amount, destination) :
    print('Open door')
    print('Walk to the ' + destination)
    print('Buy ' + amount + ' cartons on the ground floor')
    print('Return with milk')

In [46]:
milk_mission( destination='department store',amount='twenty')

Open door
Walk to the department store
Buy twenty cartons on the ground floor
Return with milk

In [48]:
def times(x, y) :
    result = x * y
    return result

In [49]:
times(3.14, 5.09)

15.9826

In [50]:
times('NI', 4)

'NINININI'

In [51]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!